<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fashionista">
        <activity
            android:name=".LinkCart"
            android:exported="false" />
        <activity
            android:name=".Cart"
            android:exported="false" />
        <activity
            android:name=".itemlist_Cart"
            android:exported="false" />
        <activity
            android:name=".Permission"
            android:exported="false" />
        <activity
            android:name=".Viewmodel"
            android:exported="false" />
        <activity
            android:name=".Modelsuccess"
            android:exported="false" />
        <activity
            android:name=".Createbyphoto"
            android:exported="false" />
        <activity
            android:name=".Createbysize"
            android:exported="false" />
        <activity
            android:name=".Generatemodel"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".shoppingCart"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"> <!-- or any other AppCompat theme -->
        </activity>
        <activity
            android:name=".ShoppingCartActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"> <!-- or any other AppCompat theme -->
        </activity>
        <activity
            android:name=".ReceiptActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"> <!-- or any other AppCompat theme -->
        </activity>
    </application>

</manifest>